body {
  background-color: #f9f6e7;
}
.main_Flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navBar {
  height: 50px;
}
.logo {
  width: 150px;
  fill: black;
}
.navMenu {
  display: inline;
  overflow: hidden;
  width: auto;
}
.navBar a {
  float: right;
  display: block;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}
.content_Flex {
  display: flex;
  margin: 50px 200px 0px 200px;
  justify-content: center;
  flex-direction: row;
}
.group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}
.group_join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.group_join p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.group_join a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  margin: 0px 10px 0px 10px
}
.group pre {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  white-space: pre-wrap;
}
.image {
  width: 30%;
}
.image_full {
    width: 99%;
  }
.text{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
@media screen and (max-width: 800px) {
  .navBar{
      height: 150px;
  }
    .navMenu a {
    float: none;
    width: 100%;
  }
  .content_Flex {
    margin: 0px 50px 0px 50px;
  }
  .group {
    flex-direction: column;
    justify-content: center;
  }
  .content pre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    white-space: pre-wrap;
  }
}
